<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ON Camera</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/photography-accessories.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/photography-accessories.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>ON Camera</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">On camera for media production Agency specialized in renting all photographic equipment And renting a studio to photograph portraits, fashions and products And cover all events
                           </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/getty_520544094_289431.jpg"
                            alt="..." /></div>
                
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Working hours</h4>
                    </div>
                    <div class="timeline-body">
                        <h5 class="text-muted">
                            All the days of the week 24 hours.</h5>
                    </div>
                </div>
            </li>
            <li>
               
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/Call.jpg"
                            alt="..." /></div>
              
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Your call makes us happy</h4>
                    </div>
                    <div class="timeline-body">
                        <h5 class="text-muted">
                            01274333434</h5>
                    </div>
                </div>
            </li>
           
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Office!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
