<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>camera</mat-icon> ON Camera Management System
    </a>
    <ul>
      <li><a (click)="loginAction()">login</a></li>
    </ul>
  </nav>
</div>
<!-- <div>
  <qr-scanner
        [debug]="false"
        [canvasWidth]="10"
        [stopAfterScan]="true" 
        [updateTime]="500">
</qr-scanner> -->

<div class="footer" id="signup">
  <h2>© 2023 Developed By ISLAM HASSAN</h2>
</div>
